/* Color Theme Swatches in Hex */
/*
.Inspiring-illustration-2023-1-hex { color: #03588C; }
.Inspiring-illustration-2023-2-hex { color: #025939; }
.Inspiring-illustration-2023-3-hex { color: #0ABF04; }
.Inspiring-illustration-2023-4-hex { color: #D7F205; }
.Inspiring-illustration-2023-5-hex { color: #400101; }
*/ 

html {
    background: #D2E8E3  ; 
    color:#1E232E ;
}

 html {
    font-size: 18px; 
    font-family: sans-serif;    }
  
  p {
    text-indent: 1em;           
  }
  
  
  h1, h2, h3 {
    text-align: center;         
  }
  
  h1 {
    font-size: 1.8rem;          
  }
  
  h2 {
    font-size: 1.4rem;          
  }
  
  h3 {
    font-size: 1.2rem;          
  }

  .summary {
    text-align: center;
  }
  
  
  .main p {
    line-height: 1.5;
  }
  
  
  abbr {
    font-variant: small-caps;
  }
