/* Color Theme Swatches in Hex */
/*
.Inspiring-illustration-2023-1-hex { color: #03588C; }
.Inspiring-illustration-2023-2-hex { color: #025939; }
.Inspiring-illustration-2023-3-hex { color: #0ABF04; }
.Inspiring-illustration-2023-4-hex { color: #D7F205; }
.Inspiring-illustration-2023-5-hex { color: #400101; }
*/ 

html {
    background: #D2E8E3  ; 
    color:#1E232E ;
}

